body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 10;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #0b0909;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.navbar {
    background-color: #000000;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: #f1eded;
    padding: 5px 10px;
}

.navbar a:hover {
    background-color: #cccccc;
}

.main-content {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

.footer {
    background-color: #ede8e8;
    padding: 10px;
    text-align: center;
}